/* This is css for index.html */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#add-text {
  font-size: 30px;
}

#add-button {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 10%;
  right: 10%;
}