<html>
  <head>
    <meta charset="UTF-8">
    <title>チャット</title>
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      ul#messages { list-style: none; }
      ul#messages li { margin-bottom: 2px; }
      ul#messages li img { margin-right: 10px; }
    </style>
    <link href="/css/chat.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="panel panel-default">
      <div id="panel" class="panel-body">
        <ul id="messages" class="list-group list-group-flush">
          {{ range .Messages }}
          <li class="list-group-item">
            <span>{{.CreatedAt}}</span><br>
            <strong>{{.UserName}}</strong>
            <span>{{.Message}}</span>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <form id="chatbox" role="form" class="container">
      <div class="input-group">
        <textarea id="message" class="form-control custom-control" style="resize:none"></textarea>     
        <span id="send" class="input-group-addon btn btn-primary">送信</span>
      </div>
    </form>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script>
  $(function(){
    var socket = null;
    var msgBox = $("#chatbox textarea");
    var messages = $("#messages");
    $("#send").click(function(){
      if (!msgBox.val()) return false;
      if (!socket) {
        alert("エラー: 通信エラーが発生しました");
        return false;
      }
      socket.send(JSON.stringify({"Message": msgBox.val()}));
      msgBox.val("");
      return false;
    });
    if (!window["WebSocket"]) {
      alert("エラー: WebSocketに対応していないブラウザです。")
    } else {
      socket = new WebSocket("{{.Uri}}/room/{{.ID}}");
      socket.onclose = function() {
        alert("接続が終了しました。");
      }
      socket.onmessage = function(e) {
        var msg = JSON.parse(e.data);
        messages.append(
          $("<li>").addClass("list-group-item").append(
            $("<span>").text(msg.When),
            $("<br>"),
            $("<strong>").text(msg.UserName + ": "),
            $("<span>").text(msg.Message)
          )
        );
      }
    }
  });
</script>

  </body>
</html>
